<%= form_for @article do |f| %>
  <div class="article-form">
    <div class="article-title">
      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %><br><br>
      </p>
    </div>

    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </p>

    <%= f.submit "Post" %>
  </div>
<% end %>
